<!DOCTYPE html>
<html>
<head>
    <title>Time Entries</title>
</head>
<body>
    <div class="container">
        <h2>All Captured Times</h2>
        <table>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Strat_Time </th>
                <th>End_Time</th>
                <th>hours_worked</th>
            </tr>
            {% for entry in entries %}
                <tr>
                    <td>{{ entry[0] }}</td>
                    <td>{{ entry[1] }}</td>
                    <td>{{ entry[2] }}</td>
                    <td>{{ entry[3] }}</td>
                    <td>{{ entry[4] }}</td>
                </tr>
            {% endfor %}
        </table>
        <a href="{{ url_for('dashboard') }}">Back to Capture Page</a>
    </div>
</body>
</html>
