<!DOCTYPE html>
<html>
    <head>
        <title>SUN TECHNOLOGIES</title>
        <link rel="stylesheet" type ="text/css" href="{{url_for('static' ,filename='style.css')}}">
        <body>
        <div class="navbar">
            <nav>
                <h1>SUN TECHNOLOGIES</h1>
                <ul>
                    <li>Home |</li>
                    <li>About |</li>
                    <li>Employee |</li>
                    <li>HR Login  |</li>
                    <li>Contact Us |</li>
                </ul>
            </nav>
            <div>
                <h4>Search For Information</h4>
            </div>
        </div>
        <div class="searchbar">
            <input placeholder="Search">
        </div>
        <h2>SUN</h2>
        <h3>TECHNOLOGIES</h3>
        <div class="two">
        <h4>Welcome to SUN Auditing Company</h4>
        </div>
            <p>
            where precision and integrity are at the heart of our services.
            With years of industry expertise, we specialize in providing comprehensive. 
            auditing solutions that ensure your business's financial health and compliance with regulatory standards.
            Our team of certified professionals utilizes advanced methodologies and cutting-edge technology to deliver insightful.
            and reliable audit reports. At SUN Auditing, we are committed to fostering transparency and trust, empowering our.
            clients to make informed decisions with confidence. Partner with us to safeguard your financial integrity and achieve sustainable growth.
    </p>
    <center>
    <div class="form">
    <h2>Login Here</h2>
    <input type="ID" name="ID" placeholder="Enter ID Here">
    <input type="password" name="Password" placeholder="Enter Password Here"><br>
    <button class="button">
    <a href="userlogin">Login</a>
    </button> 
    <p class="link">Don't have an account<br>
    <a href="signup">Sign up </a>here
    </p>
    </center>
    <p>Log in with</p>
    </div>
        <div class="icons">
        <h3>About Us</h3>
        <h4 style="margin: 20px;">Contact Mail:suntechnologies@gmail.com</h4>
        <h4 style="margin: 20px;">Contact No:9876543210</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, tempore. Magni, velit natus ipsam repudiandae maxime ipsa voluptates excepturi optio.</p>
        <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
        <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
        <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
        <a href="#"><ion-icon name="logo-google"></ion-icon></a>
        <a href="#"><ion-icon name="logo-skype"></ion-icon></a>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    </body>
    </head>
</html>